{% extends 'news/base.html' %}
{% load static %}

{% block title %}newsnow • Change Password{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Set a New Password</h2>
                    {% if validlink %}
                        <p class="card-text">Please enter your new password twice:</p>
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="alert alert-danger mt-2">
                                            {{ field.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary btn-block mt-4">Change Password</button>
                        </form>
                    {% else %}
                        <p class="card-text">The password reset link is invalid, possibly because it has already been used. Please request a new password reset.</p>
                        <a href="{% url 'password_reset' %}" class="btn btn-primary btn-block mt-4">Request a New Password Reset</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
